.menuburgercontainer {
  display: none;
}

@media screen and (max-width: 767px) {
  .menuburgercontainer {
    position: absolute;
    left: auto;
    top: 0px;
    right: 100%;
    bottom: 0px;

    display: flex;
    width: 100%;
    height: 100%;
    min-width: 320px;
    padding: 8px;
    flex-direction: column;
    grid-column-gap: 8px;
    grid-row-gap: 8px;

    background-color: var(--white);
  }
}

.w_container {
  display: flex;
  align-items: stretch;
  flex: 0 auto;
}

.w_container.gap12px {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.w_container.gap12px._44pxheight {
  height: 44px;
  min-height: 44px;
}

.w_container.gap12px.justifyright {
  justify-content: flex-end;
}

.w_container.gap12px.justifyright.margin12pxleft {
  margin-left: 12px;
}

.w_container.justifyspacebetween {
  justify-content: space-between;
}

.w_container.justifyspacebetween._100.height40px {
  height: 40px;
  min-height: 40px;
}

.w_container.justifyspacebetween._100.height40px.aligncenter.padding12px {
  padding-right: 12px;
  padding-left: 12px;
}

.w_container.justifyspacebetween._100.height40px.aligncenter.padding12px.backgroundgrey {
  border-radius: 8px;
  background-color: var(--grey-50);
}

@media screen and (max-width: 991px) {
  .w_container.horizontalthenvertical {
    flex-direction: column;
  }
}

.w_container.vertical {
  flex-direction: column;
}

.w_container.vertical.alignend {
  align-items: flex-end;
}

.w_container.vertical.alignend.justifyspacebetween.margin240pxleft {
  margin-left: 240px;
}

@media screen and (max-width: 767px) {
  .w_container.vertical.alignend.justifyspacebetween.margin240pxleft {
    margin-left: 0px;
  }
}

.w_container.vertical.alignend.justifyspacebetween.margin240pxleft.height100 {
  height: 100%;
}

.w_container.vertical.gap8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.w_container.vertical.gap8px.padding20px {
  padding: 20px;
}

.w_container.vertical.gap8px.padding20px.maxwidth400px {
  width: 100%;
  max-width: 400px;
}

.w_container.vertical.gap8px.padding20px.maxwidth400px.white {
  border-radius: 8px;
  background-color: var(--white);
}

.w_container.vertical.center {
  justify-content: center;
  align-items: center;
}

.w_container.vertical.center.gap4px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.w_container.vertical.center.gap4px.padding20px {
  padding: 20px;
}

.w_container.vertical.center.gap4px.padding20px.white {
  background-color: var(--white);
}

.w_container.vertical.center.gap4px.padding20px.white.round {
  border-radius: 4px;
}

.w_container.vertical.center.gap4px.padding20px.white.round.clickable {
  cursor: pointer;
}

.w_container.vertical.center.gap4px.padding20px.white.round.clickable:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

.w_container.vertical.center.gap4px.padding20px.white.round.clickable._170x170 {
  width: 170px;
  height: 170px;
  min-height: 170px;
  min-width: 170px;
}

.w_container.vertical.center.gap4px.padding12px {
  padding: 12px;
}

.w_container.vertical.center.gap4px.padding12px.white {
  background-color: var(--white);
}

.w_container.vertical.center.gap4px.padding12px.white.round {
  border-radius: 8px;
}

.w_container.vertical.center.gap4px.padding12px.white.round._170x170 {
  width: 170px;
  height: 170px;
  min-height: 170px;
  min-width: 170px;
}

.w_container.vertical.center.gap4px.padding12px.white.round._170x170.clickable {
  cursor: pointer;
}

.w_container.vertical.center.gap4px.padding12px.white.round._170x170.clickable:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

@media screen and (max-width: 991px) {
  .w_container.vertical.center.gap4px.padding12px.white.round._170x170.clickable {
    width: auto;
    height: auto;
    min-height: 0px;
    min-width: 0px;
  }
}

.w_container.vertical.gap16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.w_container.vertical.gap16px.white {
  background-color: var(--white);
}

.w_container.vertical.gap16px.white.round {
  border-radius: 8px;
}

.w_container.vertical.gap16px.white.round.padding20px {
  padding: 20px;
}

.w_container.vertical.gap16px.white.round.padding20px.aligncenter {
  align-items: center;
}

.w_container.vertical.gap16px.white.round.padding20px.aligncenter.clickable {
  overflow: hidden;
  cursor: pointer;
}

.w_container.vertical.gap16px.white.round.padding20px.aligncenter.clickable:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

.w_container.vertical.alignleft {
  align-items: flex-start;
}

.w_container.vertical.alignleft._100.gap4px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.w_container.vertical.gap24px {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.w_container.vertical.gap24px._100.white {
  padding: 20px;
  border: 1px solid var(--grey-100);
  border-radius: 12px;
  background-color: var(--white);
}

.w_container._100 {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .w_container.alignright {
    justify-content: flex-end;
  }
}

.w_container.aligncenter {
  align-items: center;
}

.w_container.aligncenter.gap8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.w_container.aligncenter.gap8px.overflowhidden {
  overflow: hidden;
}

.w_container.aligncenter.justifycenter {
  justify-content: center;
}

.w_container.aligncenter.justifycenter._100.maxwidth400px {
  max-width: 600px;
}

.w_container.verticalthenhorizontal {
  flex-direction: column;
}

@media screen and (max-width: 991px) {
  .w_container.verticalthenhorizontal {
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .w_container.verticalthenhorizontal.gap12px {
    flex-direction: row;
  }
}

@media screen and (max-width: 991px) {
  .w_container.verticalthenhorizontal.gap12px.justifycenter {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .image28x28px {
    width: 28px;
    height: 28px;
    min-height: 28px;
    min-width: 28px;
  }
}

@media screen and (max-width: 767px) {
  .image28x28px.clickable {
    cursor: pointer;
  }
}

.text14px {
  color: var(--grey-900);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.text14px.icontitle {
  display: none;
}

@media screen and (min-width: 1440px) {
  .text14px.icontitle {
    display: flex;
    white-space: nowrap;
    word-break: normal;
  }
}

@media screen and (max-width: 991px) {
  .text14px.icontitle {
    display: none;
  }
}

.text14px.icontitle.showalways {
  display: block;
}

.text14px.grey300 {
  color: var(--grey300);
}

.text14px.grey300.light {
  font-weight: 300;
}

.text14px.grey300.light.hide {
  display: none;
}

.text14px.grey400 {
  color: var(--grey400);
}

.text14px.grey400._100 {
  width: 100%;
}

.text14px.grey400._100.nowrap {
  white-space: nowrap;
}

.text14px.medium {
  font-weight: 500;
}

.text14px.medium.purple {
  color: var(--main);
}

.text14px.medium.purple.tag {
  padding: 4px 12px;
  border-radius: 1000px;
  background-color: var(--lightpurple);
}

.text14px.medium.nowrap {
  overflow: visible;
  white-space: nowrap;
}

.text14px.medium.white {
  color: var(--white);
}

.text14px.white {
  color: var(--white);
}

.pageselector {
  display: flex;
  padding: 12px 20px;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 12px;

  background-color: rgba(255, 255, 255, 1);

  cursor: pointer;
}

.pageselector:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

@media screen and (max-width: 767px) {
  .pageselector {
    display: none;
  }
}

.pageselector.hide {
  display: none;
}

@media screen and (max-width: 767px) {
  .pageselector.hide {
    display: flex;
    flex: 0 auto;
  }
}

.pageselector.showalways {
  background-color: var(--grey-50);
}

@media screen and (max-width: 767px) {
  .pageselector.showalways {
    display: flex;
    background-color: var(--grey-50);
  }
}

.image20x20px {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  object-fit: cover;
}

.separatorhorizontal {
  border-bottom: 1px solid var(--grey-200);
}

.separatorhorizontal.grey100 {
  border-bottom-color: var(--grey-100);
}

@media screen and (max-width: 767px) {
  #w-node-_5f60c79b-cbf3-0831-8cf0-6a6c09d5901b-09d5901b {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
}