.backgrounddark {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;

  display: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;

  background-color: hsla(0, 0.00%, 0.00%, 0.50);
}

@media screen and (max-width: 991px) {
  .backgrounddark {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .backgrounddark {
    display: none;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
  }
}

.container {
  display: flex;
  align-items: stretch;
  flex: 0 auto;
}

.container.gap12px {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.container.gap12px._44pxheight {
  height: 44px;
  min-height: 44px;
}

.container.gap12px.justifyright {
  justify-content: flex-end;
}

.container.gap12px.justifyright.margin12pxleft {
  margin-left: 12px;
}

.container.justifyspacebetween {
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .container.horizontalthenvertical {
    flex-direction: column;
  }
}

.container.vertical {
  flex-direction: column;
}

.container.vertical.alignend {
  align-items: flex-end;
}

.container.vertical.alignend.justifyspacebetween.margin240pxleft {
  margin-left: 240px;
}

@media screen and (max-width: 767px) {
  .container.vertical.alignend.justifyspacebetween.margin240pxleft {
    margin-left: 0px;
  }
}

.container.vertical.alignend.justifyspacebetween.margin240pxleft.height100 {
  height: 100%;
}

.container.vertical.gap8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.container.vertical.gap8px.padding20px {
  padding: 20px;
}

.container.vertical.gap8px.padding20px.maxwidth400px {
  width: 100%;
  max-width: 400px;
}

.container.vertical.gap8px.padding20px.maxwidth400px.white {
  border-radius: 8px;
  background-color: var(--white);
}

.container.vertical.center {
  justify-content: center;
  align-items: center;
}

.container.vertical.center.gap4px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.container.vertical.center.gap4px.padding20px {
  padding: 20px;
}

.container.vertical.center.gap4px.padding20px.white {
  background-color: var(--white);
}

.container.vertical.center.gap4px.padding20px.white.round {
  border-radius: 4px;
}

.container.vertical.center.gap4px.padding20px.white.round.clickable {
  cursor: pointer;
}

.container.vertical.center.gap4px.padding20px.white.round.clickable:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

.container.vertical.center.gap4px.padding20px.white.round.clickable._170x170 {
  width: 170px;
  height: 170px;
  min-height: 170px;
  min-width: 170px;
}

.container.vertical.center.gap4px.padding12px {
  padding: 12px;
}

.container.vertical.center.gap4px.padding12px.white {
  background-color: var(--white);
}

.container.vertical.center.gap4px.padding12px.white.round {
  border-radius: 8px;
}

.container.vertical.center.gap4px.padding12px.white.round._170x170 {
  width: 170px;
  height: 170px;
  min-height: 170px;
  min-width: 170px;
}

.container.vertical.center.gap4px.padding12px.white.round._170x170.clickable {
  cursor: pointer;
}

.container.vertical.center.gap4px.padding12px.white.round._170x170.clickable:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

@media screen and (max-width: 991px) {
  .container.vertical.center.gap4px.padding12px.white.round._170x170.clickable {
    width: auto;
    height: auto;
    min-height: 0px;
    min-width: 0px;
  }
}

.container.vertical.gap16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.container.vertical.gap16px.white {
  background-color: var(--white);
}

.container.vertical.gap16px.white.round {
  border-radius: 8px;
}

.container.vertical.gap16px.white.round.padding20px {
  padding: 20px;
}

.container.vertical.gap16px.white.round.padding20px.aligncenter {
  align-items: center;
}

.container.vertical.gap16px.white.round.padding20px.aligncenter.clickable {
  overflow: hidden;
  cursor: pointer;
}

.container.vertical.gap16px.white.round.padding20px.aligncenter.clickable:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

.container.vertical.alignleft {
  align-items: flex-start;
}

.container.vertical.alignleft._100.gap4px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.container._100 {
  width: 100%;
}

.pageselector {
  display: flex;
  padding: 12px 20px;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 12px;

  background-color: rgba(255, 255, 255, 1);

  cursor: pointer;
}

.pageselector:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

@media screen and (max-width: 767px) {
  .pageselector {
    display: none;
  }
}

.pageselector.hide {
  display: none;
}

@media screen and (max-width: 767px) {
  .pageselector.hide {
    display: flex;
    flex: 0 auto;
  }
}

.pageselector.showalways {
  background-color: var(--grey-50);
}

@media screen and (max-width: 767px) {
  .pageselector.showalways {
    display: flex;
    background-color: var(--grey-50);
  }
}

.image20x20px {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  object-fit: cover;
}

.text14px {
  color: var(--grey-900);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.text14px.icontitle {
  display: none;
}

@media screen and (min-width: 1440px) {
  .text14px.icontitle {
    display: flex;
    white-space: nowrap;
    word-break: normal;
  }
}

@media screen and (max-width: 991px) {
  .text14px.icontitle {
    display: none;
  }
}

.text14px.icontitle.showalways {
  display: block;
}

.text14px.grey300 {
  color: var(--grey300);
}

.text14px.grey300.light {
  font-weight: 300;
}

.text14px.grey300.light.hide {
  display: none;
}

.text14px.grey400 {
  color: var(--grey400);
}

.text14px.medium {
  font-weight: 500;
}

.text14px.medium.purple {
  color: var(--main);
}

.text14px.medium.purple.tag {
  padding: 4px 12px;
  border-radius: 1000px;
  background-color: var(--lightpurple);
}

.text14px.medium.nowrap {
  overflow: visible;
  white-space: nowrap;
}

.separatorhorizontal {
  border-bottom: 1px solid var(--grey-200);
}

.separatorhorizontal.grey100 {
  border-bottom-color: var(--grey-100);
}

@media screen and (max-width: 767px) {
  #w-node-_7585c045-b430-de50-9090-6db965eb66d5-65eb66d5 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
}