:root {
  --grey-200: #d5dae1;
  --grey-100: #eef0f3;
  --grey-50: #f7f8f9;
  --grey-900: #2a3342;
  --grey300: #bbc3cf;
  --grey400: #8896ab;
  --main: #7070ff;
  --lightpurple: rgba(112, 112, 255, .1);
  --white: #fff;
  --green: #0dd27a;
  --black: #000;
}

.separatorvertical {
  width: .00000437114px;
  height: 100%;
  border-right: 1px solid var(--grey-200);
  justify-content: center;
  align-items: center;
}

.componentcontainer {
  border: 1px solid var(--grey-100);
  background-color: var(--grey-50);
  border-radius: 12px;
  padding: 20px;
  display: flex;
}

.componentcontainer.directionvertical {
  flex-direction: column;
}

.componentcontainer.directionvertical.gap16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.componentcontainer.directionvertical.gap12px {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.componentcontainer.navbar {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}

.text14px {
  color: var(--grey-900);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.text14px.icontitle {
  display: none;
}

.text14px.icontitle.showalways {
  display: block;
}

.text14px.grey300 {
  color: var(--grey300);
}

.text14px.grey300.light {
  font-weight: 300;
}

.text14px.grey300.light.hide {
  display: none;
}

.text14px.grey400 {
  color: var(--grey400);
}

.text14px.grey400._100 {
  width: 100%;
}

.text14px.grey400._100.nowrap {
  white-space: nowrap;
}

.text14px.medium {
  font-weight: 500;
}

.text14px.medium.purple {
  color: var(--main);
}

.text14px.medium.purple.tag {
  background-color: var(--lightpurple);
  border-radius: 1000px;
  padding: 4px 12px;
}

.text14px.medium.nowrap {
  white-space: nowrap;
  overflow: visible;
}

.text14px.white {
  color: var(--white);
}

.text14px.unbounded {
  font-family: Unbounded, sans-serif;
  line-height: 140%;
}

.text14px.unbounded.green {
  color: var(--green);
}

.text14px.semibold {
  font-weight: 600;
}

.text14px.purple {
  color: var(--main);
}

.buttoncircle {
  width: auto;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10000px;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  display: flex;
  position: relative;
  overflow: visible;
}

.buttoncircle:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.buttoncircle:focus-visible {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.buttoncircle[data-wf-focus-visible] {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.w_container {
  flex: 0 auto;
  align-items: stretch;
  display: flex;
}

.w_container.gap12px {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.w_container.gap12px._44pxheight {
  height: 44px;
  min-height: 44px;
}

.w_container.gap12px.justifyright {
  justify-content: flex-end;
}

.w_container.gap12px.justifyright.margin12pxleft {
  margin-left: 12px;
}

.w_container.justifyspacebetween {
  justify-content: space-between;
}

.w_container.justifyspacebetween._100.height40px {
  height: 40px;
  min-height: 40px;
}

.w_container.justifyspacebetween._100.height40px.aligncenter.padding12px {
  padding-left: 12px;
  padding-right: 12px;
}

.w_container.justifyspacebetween._100.height40px.aligncenter.padding12px.backgroundgrey {
  background-color: var(--grey-50);
  border-radius: 8px;
}

.w_container.vertical {
  flex-direction: column;
}

.w_container.vertical.alignend {
  align-items: flex-end;
}

.w_container.vertical.alignend.justifyspacebetween.margin240pxleft {
  margin-left: 240px;
}

.w_container.vertical.alignend.justifyspacebetween.margin240pxleft.height100 {
  height: 100%;
}

.w_container.vertical.gap8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.w_container.vertical.gap8px.padding20px {
  padding: 20px;
}

.w_container.vertical.gap8px.padding20px.maxwidth400px {
  width: 100%;
  max-width: 400px;
}

.w_container.vertical.gap8px.padding20px.maxwidth400px.white {
  background-color: var(--white);
  border-radius: 8px;
}

.w_container.vertical.center {
  justify-content: center;
  align-items: center;
}

.w_container.vertical.center.gap4px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.w_container.vertical.center.gap4px.padding12px {
  padding: 12px;
}

.w_container.vertical.center.gap4px.padding12px.white {
  background-color: var(--white);
}

.w_container.vertical.center.gap4px.padding12px.white.round {
  border-radius: 8px;
}

.w_container.vertical.center.gap4px.padding12px.white.round._170x170 {
  width: 170px;
  height: 170px;
  min-height: 170px;
  min-width: 170px;
}

.w_container.vertical.center.gap4px.padding12px.white.round._170x170.clickable {
  cursor: pointer;
}

.w_container.vertical.center.gap4px.padding12px.white.round._170x170.clickable:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.w_container.vertical.gap16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.w_container.vertical.gap16px.white {
  background-color: var(--white);
}

.w_container.vertical.gap16px.white.round {
  border-radius: 8px;
}

.w_container.vertical.gap16px.white.round.padding20px {
  padding: 20px;
}

.w_container.vertical.gap16px.white.round.padding20px.aligncenter {
  align-items: center;
}

.w_container.vertical.gap16px.white.round.padding20px.aligncenter.clickable {
  cursor: pointer;
  overflow: hidden;
}

.w_container.vertical.gap16px.white.round.padding20px.aligncenter.clickable:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.w_container.vertical.alignleft {
  align-items: flex-start;
}

.w_container.vertical.alignleft._100.gap4px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.w_container.vertical.gap24px {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.w_container.vertical.gap24px._100.white {
  border: 1px solid var(--grey-100);
  background-color: var(--white);
  border-radius: 12px;
  padding: 20px;
}

.w_container.vertical.gap20px {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.w_container._100 {
  width: 100%;
}

.w_container.aligncenter {
  align-items: center;
}

.w_container.aligncenter.gap8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.w_container.aligncenter.gap8px.overflowhidden {
  overflow: hidden;
}

.w_container.aligncenter.justifycenter {
  justify-content: center;
}

.w_container.aligncenter.gap4px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.w_container.aligncenter.gap4px.clickable {
  cursor: pointer;
}

.w_container.verticalthenhorizontal {
  flex-direction: column;
}

.w_container.alignend {
  align-items: flex-end;
}

.w_container.alignend.gap4px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.w_container.alignend.gap4px.co2 {
  background-color: rgba(26, 209, 97, .1);
  border-radius: 10000px;
  padding: 4px 12px;
}

.w_container.alignstart {
  align-items: flex-start;
}

.w_container.alignstart.gap12px {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.pageselector {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;
  display: flex;
}

.pageselector:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.pageselector.hide {
  display: none;
}

.pageselector.showalways {
  background-color: var(--grey-50);
}

.body {
  height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 320px;
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 60px 1fr;
  grid-auto-columns: 1fr;
  padding: 8px;
  font-family: Poppins, sans-serif;
  display: grid;
  overflow: hidden;
}

.image20x20px {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  object-fit: cover;
}

.image20x20px.clickable {
  cursor: pointer;
}

.indicatornumber {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  background-color: var(--main);
  color: #fff;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  position: absolute;
  top: 65%;
  bottom: auto;
  left: 65%;
  right: auto;
}

.stackcontainer {
  width: 100%;
  min-height: 350px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #fc850a;
  border-radius: 20px;
  justify-content: flex-end;
  align-items: stretch;
  padding: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.sliderstack {
  width: 240px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: grid;
  position: static;
  top: 36px;
  left: 714px;
}

.sliderunit {
  width: 100%;
  height: 6px;
  opacity: .5;
  cursor: pointer;
  background-color: #fff;
  border-radius: 1000000px;
}

.sliderunit:hover {
  opacity: .75;
}

.sliderunit.active {
  opacity: 1;
}

.text20px {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
}

.text20px.unbounded {
  font-family: Unbounded, sans-serif;
}

.text20px.white {
  color: var(--white);
}

.stackproducts {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  display: grid;
  position: relative;
}

.image100 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image100._80 {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.containerslider {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.text40px {
  color: var(--grey-900);
  text-align: left;
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
}

.text40px.left {
  text-align: right;
}

.text40px.unbounded, .text-span {
  font-family: Unbounded, sans-serif;
}

.stackavatar {
  max-width: 240px;
  min-width: 0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 80px;
}

.image24x24px {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
  object-fit: cover;
}

.button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button.white {
  background-color: var(--white);
  border-radius: 8px;
}

.button.white.gap8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.button.white.gap8px.padding20px {
  padding: 8px 20px;
}

.button.white.gap8px.padding20px.clickable:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.button.black {
  background-color: var(--black);
  border-radius: 8px;
}

.button.black.gap8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.button.black.gap8px.padding20px {
  padding: 8px 20px;
}

.maincontainer {
  width: auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  display: flex;
  overflow: auto;
}

.backgrounddark {
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.separatorhorizontal {
  border-bottom: 1px solid var(--grey-200);
}

.separatorhorizontal.grey100 {
  border-bottom-color: var(--grey-100);
}

.gridproducts {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: "."
  / 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row dense;
  justify-content: stretch;
  justify-items: stretch;
  display: grid;
}

.text16px {
  font-size: 16px;
  line-height: 140%;
}

.text16px.medium {
  font-weight: 500;
}

.text16px.medium.white {
  color: var(--white);
}

.text16px.nowrap {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.text16px.unbounded {
  font-family: Unbounded, sans-serif;
}

.text16px.unbounded.medium.green {
  color: var(--green);
}

.div-block-8 {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  overflow: hidden;
}

.text-span-2 {
  font-weight: 600;
}

.navbartopcontainer {
  width: 100%;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.logoachangermdr {
  cursor: pointer;
  object-fit: cover;
}

.navbarelementcontainer {
  width: 48px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.navbarelementunselected {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.navbarelementselected {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: #7070ff;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: none;
}

.avatarcontainer {
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  background-color: var(--main);
  cursor: pointer;
  border-radius: 100000px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.avatarcontainer:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 2px;
  outline-style: solid;
}

.menuburgercontainer {
  display: none;
}

.navbarelementhover {
  z-index: 1000;
  height: 48px;
  min-height: 48px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  background-color: var(--main);
  border-radius: 8px;
  align-items: center;
  margin-left: 100%;
  padding: 4px 16px;
  display: none;
  position: absolute;
  left: 10px;
}

.image12x12px {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
}

.productimagecontainer {
  width: 80%;
  background-image: url('../images/image-18.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 80%;
  overflow: hidden;
}

.newproductcontainer {
  width: 100%;
  height: 400px;
  min-height: 400px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 100px;
  display: flex;
  position: relative;
}

.newproductimage {
  object-fit: cover;
  border-radius: 8px;
}

.newproductinfo {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: absolute;
  top: 0;
}

.productimagesideselector {
  width: 60px;
  height: 60px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  opacity: .5;
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: flex;
}

.productimagesideselector:hover {
  border: 1px solid var(--grey-100);
  opacity: 1;
}

.productimagesideselector.selected {
  border: 2px solid var(--main);
  opacity: 1;
}

.image-18 {
  object-fit: cover;
}

.vectors-wrapper-5 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text24px {
  font-size: 24px;
}

.text24px.unbounded {
  font-family: Unbounded, sans-serif;
}

.text24px.unbounded.medium {
  font-weight: 500;
  line-height: 140%;
}

.productpagegrid {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 3fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-6 {
  display: none;
}

.inputquantity {
  width: 53px;
  background-color: #fff;
  border: 1px solid #eef0f3;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
  display: flex;
}

.bigbutton {
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 12px 14px;
  display: flex;
}

.bigbutton.purple {
  background-color: var(--main);
  cursor: pointer;
}

._12490-mois-0 {
  color: #2a3342;
  font-family: Unbounded, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}

._12490-mois-1 {
  color: #2a3342;
  font-family: Unbounded, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.image16x16px {
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.image16x16px.margintop1px {
  margin-top: 1px;
}

.text-span-3 {
  font-weight: 600;
}

@media screen and (min-width: 1440px) {
  .text14px.icontitle {
    white-space: nowrap;
    word-break: normal;
    display: flex;
  }

  .gridproducts {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 991px) {
  .text14px.icontitle {
    display: none;
  }

  .w_container.horizontalthenvertical {
    flex-direction: column;
  }

  .w_container.vertical.center.gap4px.padding12px.white.round._170x170.clickable {
    width: auto;
    height: auto;
    min-height: 0;
    min-width: 0;
  }

  .w_container.verticalthenhorizontal {
    flex-direction: row;
  }

  .w_container.verticalthenhorizontal.gap12px.justifycenter {
    justify-content: center;
  }

  .body {
    height: 100vh;
  }

  .sliderstack {
    width: 240px;
  }

  .stackproducts {
    width: 100%;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    justify-items: stretch;
    overflow: hidden;
  }

  .backgrounddark {
    display: none;
  }

  .gridproducts {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row dense;
  }

  .newproductinfo {
    height: 100%;
    flex-direction: column;
    padding: 20px;
  }

  .productpagegrid {
    grid-template-columns: 3fr;
  }
}

@media screen and (max-width: 767px) {
  .separatorvertical, .componentcontainer.navbar {
    display: none;
  }

  .w_container.vertical.alignend.justifyspacebetween.margin240pxleft {
    margin-left: 0;
  }

  .w_container.alignright {
    justify-content: flex-end;
  }

  .w_container.verticalthenhorizontal.gap12px {
    flex-direction: row;
  }

  .pageselector {
    display: none;
  }

  .pageselector.hide {
    flex: 0 auto;
    display: flex;
  }

  .pageselector.showalways {
    background-color: var(--grey-50);
    display: flex;
  }

  .body {
    grid-template-columns: 1fr;
  }

  .stackcontainer {
    flex-direction: column;
    justify-content: flex-end;
  }

  .stackproducts {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .stackavatar {
    display: none;
  }

  .backgrounddark {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
  }

  .gridproducts {
    grid-template-columns: 1fr 1fr;
  }

  .menuburgercontainer {
    width: 100%;
    height: 100%;
    min-width: 320px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: var(--white);
    flex-direction: column;
    padding: 8px;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 100%;
  }

  .image28x28px {
    width: 28px;
    height: 28px;
    min-height: 28px;
    min-width: 28px;
  }

  .image28x28px.clickable {
    cursor: pointer;
  }
}

@media screen and (max-width: 479px) {
  .stackcontainer {
    padding: 20px;
  }

  .sliderstack {
    width: 100%;
  }

  .stackproducts {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: none;
  }

  .text40px {
    font-size: 28px;
  }

  .gridproducts {
    grid-template-columns: 1fr;
  }
}

#w-node-_2996cc29-4451-7171-69e1-d35d642ec7fe-642ec7f9, #w-node-_2996cc29-4451-7171-69e1-d35d642ec80f-642ec7f9, #w-node-_2996cc29-4451-7171-69e1-d35d642ec820-642ec7f9, #w-node-_2996cc29-4451-7171-69e1-d35d642ec831-642ec7f9, #w-node-_2996cc29-4451-7171-69e1-d35d642ec842-642ec7f9, #w-node-_2996cc29-4451-7171-69e1-d35d642ec853-642ec7f9, #w-node-c4708148-fd67-2da7-90f3-4cc3ee04f831-b8c5a45b, #w-node-_0d3945de-bcd5-c6dd-3fb0-ed0d587742c0-b8c5a45b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_13096c28-4d66-21b2-78fb-7ddc3567e89b-3567e886, #w-node-_8822c055-7da7-201d-2f3a-418e6b888972-3567e886, #w-node-fbde0604-a2c1-72c8-3e13-0625d8f088fd-3567e886, #w-node-adba78bd-b8ff-6164-1767-3373c6954938-3567e886 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_5f60c79b-cbf3-0831-8cf0-6a6c09d5901b-09d5901b {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_13096c28-4d66-21b2-78fb-7ddc3567e89b-3567e886, #w-node-_8822c055-7da7-201d-2f3a-418e6b888972-3567e886, #w-node-fbde0604-a2c1-72c8-3e13-0625d8f088fd-3567e886, #w-node-adba78bd-b8ff-6164-1767-3373c6954938-3567e886 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}
