:root {
  --grey-200: #d5dae1;
  --grey-100: #eef0f3;
  --grey-50: #f7f8f9;
  --grey-900: #2a3342;
  --grey300: #bbc3cf;
  --grey400: #8896ab;
  --main: #7070ff;
}

.separatorvertical {
  width: .00000437114px;
  height: 100%;
  border-right: 1px solid var(--grey-200);
  justify-content: center;
  align-items: center;
}

.componentcontainer {
  border: 1px solid var(--grey-100);
  background-color: var(--grey-50);
  border-radius: 12px;
  padding: 20px;
  display: flex;
}

.componentcontainer.directionvertical {
  flex-direction: column;
}

.componentcontainer.directionvertical.gap16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.text14px {
  color: var(--grey-900);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.text14px.icontitle {
  display: none;
}

.text14px.grey300 {
  color: var(--grey300);
}

.text14px.grey300.light {
  font-weight: 300;
}

.text14px.grey300.light.hide {
  display: none;
}

.text14px.grey400 {
  color: var(--grey400);
}

.buttoncircle {
  width: auto;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10000px;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  display: flex;
  position: relative;
  overflow: visible;
}

.buttoncircle:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.buttoncircle:focus-visible {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.buttoncircle[data-wf-focus-visible] {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.container2 {
  display: flex;
}

.container2.gap12px, .container2.horizontalthenvertical.gap12px {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.container {
  flex: 0 auto;
  align-items: stretch;
  display: flex;
}

.container.gap12px {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.container.gap12px._44pxheight {
  height: 44px;
  min-height: 44px;
}

.container.gap12px.justifyright {
  justify-content: flex-end;
}

.container.gap12px.justifyright.margin12pxleft {
  margin-left: 12px;
}

.container.justifyspacebetween {
  justify-content: space-between;
}

.pageselector {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;
  display: flex;
}

.pageselector:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.pageselector.hide {
  display: none;
}

.body {
  min-width: 320px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 52px 1fr;
  grid-auto-columns: 1fr;
  padding: 8px;
  font-family: Poppins, sans-serif;
  display: grid;
}

.image20x20px {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  object-fit: cover;
}

.indicatornumber {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  background-color: var(--main);
  color: #fff;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  position: absolute;
  top: 65%;
  bottom: auto;
  left: 65%;
  right: auto;
}

.frame-118 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border: 1px solid var(--grey-100);
  background-color: #f7f8f9;
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  display: flex;
}

.stackcontainer {
  width: 100%;
  height: 360px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #fc850a;
  border-radius: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.frame-67 {
  width: 240px;
  grid-column-gap: 4%;
  grid-row-gap: 4%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: static;
  top: 36px;
  left: 714px;
}

.vectors-wrapper-9 {
  width: 22%;
  height: 6px;
  opacity: .5;
  background-color: #fff;
  border-radius: 1000000px;
}

.vectors-wrapper-9.active {
  opacity: 1;
}

.frame-74 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  display: flex;
  position: static;
  top: 275px;
  left: 795px;
}

.text-413 {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
}

.vectors-wrapper-11 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.frame-120 {
  width: auto;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  display: grid;
  position: relative;
}

.frame-121 {
  width: 174px;
  height: 174px;
  grid-column-gap: 4.82759px;
  grid-row-gap: 4.82759px;
  background-color: #fff;
  border-radius: 5.7931px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
}

.image-1 {
  object-fit: cover;
}

.text-414 {
  width: 100%;
  color: #000;
  white-space: nowrap;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  overflow: hidden;
}

.div-block-2 {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 240px;
  display: flex;
}

.div-block-3 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.text-block-3 {
  color: var(--grey-900);
  text-align: right;
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
}

.text-span {
  font-family: Unbounded, sans-serif;
}

.div-block-4 {
  width: 48px;
  height: 100%;
}

.div-block-4.frame-118 {
  width: 52px;
  height: auto;
}

.div-block-5 {
  width: auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  display: flex;
}

.image-16 {
  max-width: 240px;
  min-width: 0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 80px;
}

@media screen and (min-width: 1440px) {
  .text14px.icontitle {
    white-space: nowrap;
    word-break: normal;
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .text14px.icontitle {
    display: none;
  }

  .container2.horizontalthenvertical.gap12px, .container.horizontalthenvertical, .frame-118 {
    flex-direction: column;
  }

  .frame-67 {
    width: 240px;
  }

  .frame-120 {
    width: 100%;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    justify-items: stretch;
    overflow: hidden;
  }

  .frame-121 {
    width: auto;
    height: auto;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }
}

@media screen and (max-width: 767px) {
  .separatorvertical, .pageselector {
    display: none;
  }

  .pageselector.hide {
    flex: 0 auto;
    display: flex;
  }

  .stackcontainer {
    flex-direction: column;
    justify-content: flex-end;
  }

  .frame-120 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .div-block-2 {
    align-items: stretch;
    margin-left: 0;
  }

  .image-16 {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .stackcontainer {
    padding: 20px;
  }

  .frame-67 {
    width: 100%;
  }

  .frame-120 {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: none;
  }

  .text-block-3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_842a1d73-16cf-aa8a-5baa-51fa2a1f035f-b33db7bb, #w-node-_802633d6-1df5-0f7f-0316-e9fca5aab221-b33db7bb, #w-node-b4bbc2cf-34cc-2dc3-8589-998bf76f5084-b33db7bb, #w-node-_469b3fde-416c-102d-637f-c23070640502-b33db7bb {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_842a1d73-16cf-aa8a-5baa-51fa2a1f035f-b33db7bb {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}