:root {
  --grey-200: #d5dae1;
  --grey-100: #eef0f3;
  --grey-50: #f7f8f9;
  --grey-900: #2a3342;
  --grey300: #bbc3cf;
  --grey400: #8896ab;
  --main: #7070ff;
  --lightpurple: rgba(112, 112, 255, .1);
  --white: #fff;
  --green: #0dd27a;
  --orange: #fc850a;
  --red: #ef5944;
  --black: #000;
  --grey600: #4d5f7a;
}

.separatorvertical {
  width: .00000437114px;
  height: 100%;
  border-right: 1px solid var(--grey-200);
  justify-content: center;
  align-items: center;
}

.componentcontainer {
  border: 1px solid var(--grey-100);
  background-color: var(--grey-50);
  border-radius: 12px;
  padding: 20px;
  display: flex;
}

.componentcontainer.directionvertical {
  flex-direction: column;
}

.componentcontainer.directionvertical.gap16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.componentcontainer.directionvertical.gap12px {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.componentcontainer.navbar {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}

.componentcontainer.hide {
  display: none;
}

.componentcontainer.height100 {
  min-height: 100%;
  align-items: flex-start;
}

.text14px {
  color: var(--grey-900);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.text14px.icontitle {
  display: none;
}

.text14px.icontitle.showalways {
  display: block;
}

.text14px.grey300 {
  color: var(--grey300);
}

.text14px.grey300.light {
  font-weight: 300;
}

.text14px.grey300.light.hide {
  display: none;
}

.text14px.grey400 {
  color: var(--grey400);
}

.text14px.grey400._100 {
  width: 100%;
}

.text14px.grey400._100.nowrap {
  white-space: nowrap;
}

.text14px.medium {
  font-weight: 500;
}

.text14px.medium.purple {
  color: var(--main);
}

.text14px.medium.purple.tag {
  background-color: var(--lightpurple);
  border-radius: 1000px;
  padding: 4px 12px;
}

.text14px.medium.nowrap {
  white-space: nowrap;
  overflow: visible;
}

.text14px.white {
  color: var(--white);
}

.text14px.unbounded {
  font-family: Unbounded, sans-serif;
  font-weight: 400;
  line-height: 140%;
}

.text14px.unbounded.green {
  color: var(--green);
}

.text14px.semibold {
  font-weight: 600;
}

.text14px.purple {
  color: var(--main);
}

.text14px.nowrap {
  white-space: nowrap;
}

.text14px.aligncenter {
  text-align: center;
}

.buttoncircle {
  width: auto;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10000px;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  display: flex;
  position: relative;
  overflow: visible;
}

.buttoncircle:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.buttoncircle:focus-visible {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.buttoncircle[data-wf-focus-visible] {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.w_container {
  flex: 0 auto;
  align-items: stretch;
  display: flex;
  position: relative;
}

.w_container.gap12px {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.w_container.gap12px._44pxheight {
  height: 44px;
  min-height: 44px;
}

.w_container.gap12px.justifyright {
  justify-content: flex-end;
}

.w_container.gap12px.justifyright.margin12pxleft {
  margin-left: 12px;
}

.w_container.gap12px.justifycenter {
  justify-content: center;
}

.w_container.justifyspacebetween {
  justify-content: space-between;
}

.w_container.justifyspacebetween._100.height40px {
  height: 40px;
  min-height: 40px;
}

.w_container.justifyspacebetween._100.height40px.aligncenter.padding12px {
  padding-left: 12px;
  padding-right: 12px;
}

.w_container.justifyspacebetween._100.height40px.aligncenter.padding12px.backgroundgrey {
  background-color: var(--grey-50);
  border-radius: 8px;
}

.w_container.vertical {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
}

.w_container.vertical.alignend {
  align-items: flex-end;
}

.w_container.vertical.alignend.justifyspacebetween.margin240pxleft {
  margin-left: 240px;
}

.w_container.vertical.alignend.justifyspacebetween.margin240pxleft.height100 {
  height: 100%;
}

.w_container.vertical.gap8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.w_container.vertical.gap8px.padding20px {
  padding: 20px;
}

.w_container.vertical.gap8px.padding20px.maxwidth400px {
  width: 100%;
  max-width: 400px;
}

.w_container.vertical.gap8px.padding20px.maxwidth400px.white {
  background-color: var(--white);
  border-radius: 8px;
}

.w_container.vertical.center {
  justify-content: center;
  align-items: center;
}

.w_container.vertical.center.gap4px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.w_container.vertical.center.gap4px.padding12px {
  padding: 12px;
}

.w_container.vertical.center.gap4px.padding12px.white {
  background-color: var(--white);
}

.w_container.vertical.center.gap4px.padding12px.white.round {
  border-radius: 8px;
}

.w_container.vertical.center.gap4px.padding12px.white.round._170x170 {
  width: 170px;
  height: 170px;
  min-height: 170px;
  min-width: 170px;
}

.w_container.vertical.center.gap4px.padding12px.white.round._170x170.clickable {
  cursor: pointer;
}

.w_container.vertical.center.gap4px.padding12px.white.round._170x170.clickable:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.w_container.vertical.gap16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: stretch;
}

.w_container.vertical.gap16px.white {
  background-color: var(--white);
}

.w_container.vertical.gap16px.white.round {
  border-radius: 8px;
}

.w_container.vertical.gap16px.white.round.padding20px {
  padding: 20px;
}

.w_container.vertical.gap16px.white.round.padding20px.aligncenter {
  align-items: center;
}

.w_container.vertical.gap16px.white.round.padding20px.aligncenter.clickable {
  cursor: pointer;
  overflow: hidden;
}

.w_container.vertical.gap16px.white.round.padding20px.aligncenter.clickable:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.w_container.vertical.gap16px.white.round.padding12px {
  padding: 12px;
}

.w_container.vertical.alignleft {
  align-items: flex-start;
}

.w_container.vertical.alignleft._100.gap4px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.w_container.vertical.gap24px {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.w_container.vertical.gap24px._100.white {
  border: 1px solid var(--grey-100);
  background-color: var(--white);
  border-radius: 12px;
  padding: 20px;
}

.w_container.vertical.gap20px {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.w_container.vertical.nogap {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.w_container.vertical.nogap.colorside {
  border-right: 4px solid var(--orange);
}

.w_container.vertical.gap4px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.w_container.vertical.gap2px {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.w_container.vertical.gap2px.overflowhidden {
  overflow: hidden;
}

.w_container.vertical.height100 {
  height: 100%;
}

.w_container.vertical.gap12px {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.w_container.vertical.gap12px._356px {
  height: 356px;
  max-height: 356px;
  min-height: 356px;
  overflow: auto;
}

.w_container.vertical.aligncenter.gap12px.empty {
  max-width: 640px;
}

.w_container._100 {
  width: 100%;
}

.w_container.aligncenter {
  align-items: center;
}

.w_container.aligncenter.gap8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.w_container.aligncenter.gap8px.overflowhidden {
  overflow: hidden;
}

.w_container.aligncenter.justifycenter {
  justify-content: center;
}

.w_container.aligncenter.gap4px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.w_container.aligncenter.gap4px.clickable {
  cursor: pointer;
}

.w_container.aligncenter.verticalonphone.stack {
  flex-direction: row;
}

.w_container.verticalthenhorizontal {
  flex-direction: column;
}

.w_container.alignend {
  align-items: flex-end;
}

.w_container.alignend.gap4px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.w_container.alignend.gap4px.co2 {
  background-color: rgba(26, 209, 97, .1);
  border-radius: 10000px;
  padding: 4px 12px;
}

.w_container.alignstart {
  align-items: flex-start;
}

.w_container.alignstart.gap12px {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.w_container.popuphover {
  background-color: var(--white);
  border-radius: 8px;
  padding: 4px 8px;
  display: none;
  position: absolute;
}

.w_container.popuphover.catalogue {
  bottom: 40px;
  right: -20px;
}

.w_container.announce {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: var(--main);
  border-radius: 8px;
  align-items: center;
  padding: 8px 12px;
  position: absolute;
  top: 4px;
  right: 0;
}

.w_container.announce.error {
  background-color: var(--red);
  right: -300px;
}

.w_container._80x80 {
  width: 80px;
  height: 80px;
  min-height: 80px;
  min-width: 80px;
  justify-content: center;
  align-items: center;
}

.w_container._80x80.grey {
  background-color: var(--grey-50);
  border-radius: 8px;
}

.w_container.gap16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
}

.w_container.gap16px.padding8px {
  padding: 8px;
}

.w_container.gap16px.padding8px.white {
  background-color: var(--white);
  border-radius: 8px;
}

.w_container.gap16px.padding8px.white.hover {
  outline-color: var(--grey-200);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.w_container.gap16px.padding8px.white.selected {
  outline-color: var(--main);
  outline-offset: 0px;
  outline-width: 2px;
  outline-style: solid;
}

.w_container.articlelength {
  width: 120px;
  justify-content: center;
}

.w_container.gap8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.w_container.gap8px._100.clickable {
  cursor: pointer;
}

.w_container.padding12px {
  padding: 12px;
}

.w_container.padding12px.white {
  background-color: var(--white);
  border-radius: 8px;
}

.w_container.padding12px.white.clickable {
  cursor: pointer;
}

.w_container.padding12px.white.clickable:hover {
  outline-color: var(--grey-200);
  outline-offset: -1px;
  outline-width: 1px;
  outline-style: solid;
}

.pageselector {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;
  display: flex;
}

.pageselector:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.pageselector.hide {
  display: none;
}

.pageselector.showalways {
  background-color: var(--grey-50);
}

.body {
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 320px;
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 60px 1fr;
  grid-auto-rows: 0;
  grid-auto-columns: 1fr;
  padding: 8px;
  font-family: Poppins, sans-serif;
  display: grid;
  overflow: hidden;
}

.image20x20px {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  object-fit: cover;
}

.image20x20px.clickable {
  cursor: pointer;
}

.indicatornumber {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  background-color: var(--main);
  color: #fff;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  position: absolute;
  top: 65%;
  bottom: auto;
  left: 65%;
  right: auto;
}

.stackcontainer {
  width: 100%;
  min-height: 350px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #fc850a;
  border-radius: 20px;
  justify-content: flex-end;
  align-items: stretch;
  padding: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.sliderstack {
  width: 240px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: grid;
  position: static;
  top: 36px;
  left: 714px;
}

.sliderunit {
  width: 100%;
  height: 6px;
  opacity: .5;
  cursor: pointer;
  background-color: #fff;
  border-radius: 1000000px;
}

.sliderunit:hover {
  opacity: .75;
}

.sliderunit.active {
  opacity: 1;
}

.text20px {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
}

.text20px.unbounded {
  font-family: Unbounded, sans-serif;
}

.text20px.white {
  color: var(--white);
}

.stackproducts {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  display: grid;
  position: relative;
}

.image100 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image100._80 {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.containerslider {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.text40px {
  color: var(--grey-900);
  text-align: left;
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
}

.text40px.left {
  text-align: right;
}

.text40px.unbounded, .text-span {
  font-family: Unbounded, sans-serif;
}

.stackavatar {
  max-width: 240px;
  min-width: 0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 80px;
}

.image24x24px {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
  object-fit: cover;
}

.button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button.white {
  background-color: var(--white);
  border-radius: 8px;
}

.button.white.gap8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.button.white.gap8px.padding20px {
  padding: 8px 20px;
}

.button.white.gap8px.padding20px.clickable:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.button.black {
  background-color: var(--black);
  border-radius: 8px;
}

.button.black.gap8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.button.black.gap8px.padding20px {
  padding: 8px 20px;
}

.maincontainer {
  width: auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  display: flex;
  overflow: auto;
}

.backgrounddark {
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.separatorhorizontal {
  width: 100%;
  border-bottom: 1px solid var(--grey-200);
}

.separatorhorizontal.grey100 {
  border-bottom-color: var(--grey-100);
}

.gridproducts {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: "."
  / 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row dense;
  justify-content: stretch;
  justify-items: stretch;
  display: grid;
}

.gridproducts.small {
  grid-template-columns: 1fr 1fr 1fr;
}

.text16px {
  font-size: 16px;
  line-height: 140%;
}

.text16px.medium {
  color: var(--grey-900);
  font-weight: 500;
}

.text16px.medium.white {
  color: var(--white);
}

.text16px.nowrap {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.text16px.unbounded {
  font-family: Unbounded, sans-serif;
}

.text16px.unbounded.medium.green {
  color: var(--green);
}

.div-block-8 {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  overflow: hidden;
}

.text-span-2 {
  font-family: Unbounded, sans-serif;
  font-weight: 600;
}

.navbartopcontainer {
  width: 100%;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.logoachangermdr {
  cursor: pointer;
  object-fit: cover;
}

.navbarelementcontainer {
  width: 48px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.navbarelementunselected {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.navbarelementselected {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: #7070ff;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: none;
}

.avatarcontainer {
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  background-color: var(--main);
  cursor: pointer;
  border-radius: 100000px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.avatarcontainer:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 2px;
  outline-style: solid;
}

.menuburgercontainer {
  display: none;
}

.image28x28px {
  width: 28px;
  height: 28px;
  min-height: 28px;
  min-width: 28px;
}

.navbarelementhover {
  z-index: 1000;
  height: 48px;
  min-height: 48px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  background-color: var(--main);
  border-radius: 8px;
  align-items: center;
  margin-left: 100%;
  padding: 4px 16px;
  display: none;
  position: absolute;
  left: 10px;
}

.image12x12px {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
}

.productimagecontainer {
  width: 80%;
  background-image: url('../images/image-18_1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 80%;
  overflow: hidden;
}

.productimagecontainer.absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: auto;
}

.newproductcontainer {
  width: 100%;
  height: 400px;
  min-height: 400px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 100px;
  display: flex;
  position: relative;
}

.newproductimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.newproductinfo {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: absolute;
  top: 0;
}

.productimagesideselector {
  width: 60px;
  height: 60px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  opacity: .5;
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: flex;
}

.productimagesideselector:hover {
  border: 1px solid var(--grey-100);
  opacity: 1;
}

.productimagesideselector.selected {
  border: 2px solid var(--main);
  opacity: 1;
}

.image-18 {
  object-fit: cover;
}

.vectors-wrapper-5 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text24px {
  font-size: 24px;
}

.text24px.unbounded {
  font-family: Unbounded, sans-serif;
}

.text24px.unbounded.medium {
  font-weight: 500;
  line-height: 140%;
}

.productpagegrid {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template: "."
  / 3fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row dense;
  display: grid;
}

.text-6 {
  display: none;
}

.inputquantity {
  width: 53px;
  background-color: #fff;
  border: 1px solid #eef0f3;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
  display: flex;
}

.bigbutton {
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 12px 14px;
  display: flex;
}

.bigbutton.purple {
  background-color: var(--main);
  cursor: pointer;
}

._12490-mois-0 {
  color: #2a3342;
  font-family: Unbounded, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}

._12490-mois-1 {
  color: #2a3342;
  font-family: Unbounded, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.image16x16px {
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.image16x16px.margintop1px {
  margin-top: 1px;
}

.text-span-3 {
  font-weight: 600;
}

.text13px {
  color: var(--grey-900);
  font-size: 13px;
  font-weight: 500;
}

.text13px.grey600 {
  color: var(--grey600);
}

.stackimagegrid {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: grid;
}

.stacksgrid {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  grid-auto-columns: auto;
  grid-auto-flow: row;
  display: grid;
  overflow: hidden;
}

.stackpagecontainer {
  height: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(320px, 420px) 1fr minmax(240px, 360px);
  grid-auto-columns: 1fr;
  grid-auto-flow: row dense;
  display: grid;
}

.basketpagecontainer {
  height: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(360px, 360px);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  display: grid;
}

.greysquarebutton {
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  background-color: var(--grey-50);
  cursor: pointer;
  border-radius: 4px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.smallpurplebutton {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #7070ff;
  border-radius: 12px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  padding: 4px 12px;
  display: flex;
}

.frame-137 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-14 {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}

.text12px {
  font-size: 12px;
  line-height: 120%;
}

.text12px.white {
  color: var(--white);
}

.productfilterpage {
  height: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 280px 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.textinput {
  width: 100%;
  height: 40px;
  cursor: text;
  background-color: #fff;
  border-radius: 8px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  display: flex;
}

.textinput:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.checkboxselected {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #7070ff;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.checkboxunselected {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.checkboxunselected:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.deletestack {
  height: 100%;
  background-color: var(--red);
  border-radius: 5.71429px;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
}

.darkmodalbackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .25);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalcontainer {
  width: 100%;
  max-width: 640px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.searchbar {
  width: 100%;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10000px;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  display: flex;
  position: relative;
  overflow: visible;
}

.searchbar:hover {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.searchbar:focus-visible {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.searchbar[data-wf-focus-visible] {
  outline-color: var(--grey-100);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}

.verticalstackcontainer {
  width: 100%;
  height: 56px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 0 solid #fc850a;
  border-right-width: 4px;
  grid-template-rows: auto;
  grid-template-columns: 180px 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: grid;
}

.verticalstackimages {
  width: 100%;
  max-height: 56px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 56px 56px 56px 56px 56px;
  grid-auto-columns: 56px;
  grid-auto-flow: row dense;
  justify-content: flex-start;
  align-items: flex-start;
  display: grid;
  overflow: hidden;
}

.smallstackverticalimagecontainer {
  width: 56px;
  height: 56px;
  min-height: 56px;
  min-width: 56px;
  background-color: #f7f8f9;
  border-radius: 3.67558px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  display: flex;
}

.div-block-11 {
  width: 8px;
  height: 8px;
  min-height: 8px;
  min-width: 8px;
  background-color: var(--orange);
  border-radius: 100000px;
}

.text-15 {
  color: #2a3342;
  font-family: Unbounded, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}

.frame-34 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.frame-90 {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-17 {
  color: #7070ff;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.vectors-wrapper-6 {
  width: 16px;
  height: 16px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.stacktitlecontainer-2 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-width: 1px 4px 1px 1px;
  border-color: #fc850a;
  border-right-style: solid;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 20px;
  display: flex;
}

.text14px-2 {
  color: #2a3342;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.text14px-2.unbounded {
  font-family: Unbounded, sans-serif;
  font-weight: 400;
  line-height: 140%;
}

.stackimage {
  width: 100%;
  height: auto;
  background-color: #f7f8f9;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100%;
  display: flex;
  position: relative;
}

.stackunitcontainer {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #fff;
  border-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 24px;
  display: flex;
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  .text14px.icontitle {
    white-space: nowrap;
    word-break: normal;
    display: flex;
  }

  .separatorhorizontal {
    width: 100%;
  }

  .gridproducts {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .gridproducts.small {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .newproductimage {
    width: 100%;
  }

  .productpagegrid {
    grid-template-rows: auto auto;
  }

  .stacksgrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .stackpagecontainer {
    height: 100%;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: row;
    grid-template-columns: minmax(320px, 420px) 1fr minmax(240px, 360px);
    grid-auto-columns: 1fr;
  }

  .stackunitcontainer {
    cursor: pointer;
  }
}

@media screen and (min-width: 1920px) {
  .w_container.gap12px.justifycenter {
    flex-direction: column;
  }

  .w_container.vertical._100 {
    flex-direction: row;
  }

  .w_container.vertical.alignleft._100.gap4px, .w_container.vertical.alignleft._100.gap24px {
    flex-direction: column;
  }

  .gridproducts.small {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .stackpagecontainer {
    align-items: start;
  }
}

@media screen and (max-width: 991px) {
  .text14px.icontitle {
    display: none;
  }

  .w_container.horizontalthenvertical {
    flex-direction: column;
  }

  .w_container.vertical.center.gap4px.padding12px.white.round._170x170.clickable {
    width: auto;
    height: auto;
    min-height: 0;
    min-width: 0;
  }

  .w_container.aligncenter.verticalonphone.stack {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .w_container.verticalthenhorizontal {
    flex-direction: row;
  }

  .w_container.verticalthenhorizontal.gap12px.justifycenter {
    justify-content: center;
  }

  .body {
    height: 100vh;
  }

  .sliderstack {
    width: 240px;
  }

  .stackproducts {
    width: 100%;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    justify-items: stretch;
    overflow: hidden;
  }

  .backgrounddark {
    display: none;
  }

  .gridproducts {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row dense;
  }

  .gridproducts.small {
    grid-template-columns: 1fr 1fr;
  }

  .newproductinfo {
    height: 100%;
    flex-direction: column;
    padding: 20px;
  }

  .productpagegrid {
    grid-template-columns: 3fr;
  }

  .stacksgrid {
    grid-template-columns: 1fr 1fr;
  }

  .stackpagecontainer {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
  }

  .basketpagecontainer {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 767px) {
  .separatorvertical, .componentcontainer.navbar {
    display: none;
  }

  .w_container.vertical.alignend.justifyspacebetween.margin240pxleft {
    margin-left: 0;
  }

  .w_container.vertical.gap20px.thenhorizontal {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: row;
    grid-template-rows: auto;
    grid-template-columns: minmax(200px, 200px) minmax(200px, 200px);
    grid-auto-columns: minmax(200px, 200px);
    grid-auto-flow: column;
    display: grid;
    overflow: auto;
  }

  .w_container.alignright {
    justify-content: flex-end;
  }

  .w_container.verticalthenhorizontal.gap12px {
    flex-direction: row;
  }

  .pageselector {
    display: none;
  }

  .pageselector.hide {
    flex: 0 auto;
    display: flex;
  }

  .pageselector.showalways {
    background-color: var(--grey-50);
    display: flex;
  }

  .body {
    grid-template-columns: 1fr;
  }

  .stackcontainer {
    flex-direction: column;
    justify-content: flex-end;
  }

  .stackproducts {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .stackavatar {
    display: none;
  }

  .backgrounddark {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
  }

  .gridproducts {
    grid-template-columns: 1fr 1fr;
  }

  .menuburgercontainer {
    width: 100%;
    height: 100%;
    min-width: 320px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: var(--white);
    flex-direction: column;
    padding: 8px;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 100%;
  }

  .image28x28px {
    width: 28px;
    height: 28px;
    min-height: 28px;
    min-width: 28px;
  }

  .image28x28px.clickable {
    cursor: pointer;
  }

  .stacksgrid {
    grid-template-columns: 1fr;
  }

  .productfilterpage {
    width: 100%;
    grid-template-columns: 100%;
  }

  .verticalstackimages {
    grid-template-columns: 56px 56px 56px 56px;
  }
}

@media screen and (max-width: 479px) {
  .w_container.aligncenter.verticalonphone {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: column;
  }

  .stackcontainer {
    padding: 20px;
  }

  .sliderstack {
    width: 100%;
  }

  .stackproducts {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: none;
  }

  .text40px {
    font-size: 28px;
  }

  .gridproducts, .gridproducts.small, .stacksgrid {
    grid-template-columns: 1fr;
  }

  .verticalstackimages {
    display: none;
  }
}

#w-node-_2996cc29-4451-7171-69e1-d35d642ec7fe-642ec7f9, #w-node-_2996cc29-4451-7171-69e1-d35d642ec80f-642ec7f9, #w-node-_2996cc29-4451-7171-69e1-d35d642ec820-642ec7f9, #w-node-_2996cc29-4451-7171-69e1-d35d642ec831-642ec7f9, #w-node-_2996cc29-4451-7171-69e1-d35d642ec842-642ec7f9, #w-node-_2996cc29-4451-7171-69e1-d35d642ec853-642ec7f9, #w-node-c4708148-fd67-2da7-90f3-4cc3ee04f831-b8c5a45b, #w-node-_0d3945de-bcd5-c6dd-3fb0-ed0d587742c0-b8c5a45b, #w-node-bd35a351-46c4-7f12-3618-1198ee58bba6-b8c5a45b, #w-node-bd35a351-46c4-7f12-3618-1198ee58bbb7-b8c5a45b, #w-node-bd35a351-46c4-7f12-3618-1198ee58bbc8-b8c5a45b, #w-node-bd35a351-46c4-7f12-3618-1198ee58bbd9-b8c5a45b, #w-node-bd35a351-46c4-7f12-3618-1198ee58bbea-b8c5a45b, #w-node-bd35a351-46c4-7f12-3618-1198ee58bbfb-b8c5a45b, #w-node-_0c8a3658-7b48-d277-773a-a00c8a68fbaa-8a68fbaa, #w-node-_50778a23-b872-ea51-b101-94091e469243-1e46923e, #w-node-_50778a23-b872-ea51-b101-94091e469254-1e46923e, #w-node-_50778a23-b872-ea51-b101-94091e469265-1e46923e, #w-node-_50778a23-b872-ea51-b101-94091e469276-1e46923e, #w-node-ff1a4c10-1a5b-84fc-94aa-def6bec19fff-581f0ac5, #w-node-_311c8fbb-f60a-5e6c-b655-dd3bc2541703-c2541703, #w-node-_3d76828e-8dfe-284d-74e0-e603e6b42e44-e6b42e44, #w-node-df032265-6f47-a3fd-31c6-5dd9992afc38-992afc38 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1920px) {
  #w-node-_29399dbd-10de-bc8f-6c73-96ede0fca853-e0fca853 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_13096c28-4d66-21b2-78fb-7ddc3567e89b-3567e886, #w-node-_8822c055-7da7-201d-2f3a-418e6b888972-3567e886, #w-node-fbde0604-a2c1-72c8-3e13-0625d8f088fd-3567e886, #w-node-adba78bd-b8ff-6164-1767-3373c6954938-3567e886 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_5f60c79b-cbf3-0831-8cf0-6a6c09d5901b-09d5901b {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_13096c28-4d66-21b2-78fb-7ddc3567e89b-3567e886, #w-node-_8822c055-7da7-201d-2f3a-418e6b888972-3567e886, #w-node-fbde0604-a2c1-72c8-3e13-0625d8f088fd-3567e886, #w-node-adba78bd-b8ff-6164-1767-3373c6954938-3567e886 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}